<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dungeon Scrolls</title>

    {% load static %}
    <!-- JS - JQuery -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- JS - Popper -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- JS - Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- CSS - Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <meta id="test" data-name="test" data-other="{{ test }}">
    <div id="app"></div>

    {% load static %}
    <script src="{% static 'frontend/main.js' %}"></script>
</body>

</html>