<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% if title %}
        <title>Dungeon Scrolls - {{ title }}</title>
    {% else %}
        <title>Dungeon Scrolls</title>
    {% endif %}

  </head>
  <body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
              <div class="container">

                <a class="navbar-brand text-white h1 mb-0">Cálculo Numérico</a>

                <!-- Botão Lateral de Expansão:
                       Descrição: apenas aparece quando a tela chega a um determinado
                       tamanho que limita a exibição do navbar completamente. Ele serve justamente
                       para esconder ou exibir os itens do navbar em formato de lista vertical.
                  -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Itens do Navbar:
                       Descrição: podem sumir dependendo do tamanho de tela, mas o uso do Botão Lateral
                       permite que eles reapareçam num formato de lista vertical.
                  -->
                <div class="collapse navbar-collapse" id="navbarSite">


                  <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                      <a class="nav-link" href="">Mini-Projeto I</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="">Mini-Projeto II</a>
                    </li>

                  </ul>


                  <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/Drayton80/Web-CalculoNumerico">GitHub</a>
                    </li>

                  </ul>

                </div>

              </div>
        </nav>
    </header>

    <div class="container">
        {% block content %} {% endblock content %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>