{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <head>
        {% load staticfiles %}
        <script src="{% static 'calculator/experience_calculator_systems.js' %}"></script>
    </head>

    <!-- RPG Rule System - Dropdown Choice Form -->
    <form method="post">
        <div class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
    </form>

    <!-- Formulary generated based on Rule System selected -->
    <div id="experience_calculator_formulary">
    </div>

{% endblock content %}