{% extends "sidenavbar.html" %}
{% load crispy_forms_tags %}

{% block side-navbar-title %}
Sistemas de Regras
{% endblock side-navbar-title %}


{% block side-navbar-items %}

{% endblock side-navbar-items %}


{% block page-content %}

<head>
    {% load staticfiles %}
    <script src="{% static 'calculator/js/experience_calculator_systems.js' %}"></script>
</head>

<!-- RPG Rule System - Dropdown Choice Form -->
{% csrf_token %}
{{ model_choice_form|crispy }}

<!-- Formulary generated based on Rule System selected -->
<div id="experience_calculator_formulary" class="row">
</div>

<div id="experience_calculator_result" class="row-1 mt-4">
</div>
{% endblock page-content %}