{% extends "registration/registration_base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
{% trans "Create an Account" %}
{% endblock %}

{% block page-content %}
<!-- O primeiro commando é para esconder os asteriscos -->
<!-- já o segundo é para fazer desaparecer os hint     -->
<!-- texts longos exibidos abaixo dos forms            -->
<style>
    .asteriskField {
        display: none;
    }

    .text-muted {
        display: none;
    }
</style>

<div class="container-fluid mt-5" style="height: 90vh; padding-top: 12vh; background-color: white;">
    <div class="mr-auto ml-auto" style="width: 60%; padding-left: 50px;">
        <h1 class="mb-3">Create an Account</h1>
        <!-- Registration Form-->
        <form method="post" action="">
            {% csrf_token %}
            {{ form|crispy }}
            <!-- Submit Button-->
            <input class="btn btn-secondary w-100 mt-2" type="submit" value="{% trans 'Submit' %}" />
        </form>
    </div>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
The registration form. This will be an instance of some subclass
of ``django.forms.Form``; consult `Django's forms documentation
<http://docs.djangoproject.com/en/dev/topics/forms/>`_ for information on how to display this in a template.
    {% endcomment %}